@model Models.User.UserListVM
@{
    ViewData["Title"] = "Edit User";
}

<form method="post" class="card shadow-sm p-5"  asp-action="Edit">
    <div class="container">
        <div class="text-center mb-2">
            <h3>Update User :</h3>
        </div>
        <div class="form-group row">
            <label for="userId" class="col-sm-2 col-form-label">User ID:</label>
            <div class="col-sm-10">
                <input type="text" id="userId" asp-for="@Model.Id" value="@Model.Id" readonly onblur="validate(3)" name="Id" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="fname" class="col-sm-2 col-form-label">First Name<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <input type="text" id="fname" asp-for="@Model.Prenom" value="@Model.Prenom" required onblur="validate(1)" name="Prenom" class="form-control">
            </div>
            <label for="lname" class="col-sm-2 col-form-label">Last Name<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <input type="text" id="lname" asp-for="@Model.Nom" value="@Model.Nom" required onblur="validate(2)" name="Nom" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="fname" class="col-sm-2 col-form-label">TEl<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <input type="text" id="Tel" asp-for="@Model.Tel" value="@Model.Tel" required onblur="validate(1)" name="Tel" class="form-control">
            </div>
            <label for="lname" class="col-sm-2 col-form-label">IMG<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <select id="Img" asp-for="@Model.Img" value="@Model.Img" required class="form-control">
                    <option value="/img/profile/default.png">Default</option>
                    <option value="/img/profile/Tom.png">Tom</option>
                    <option value="/img/profile/Megumi.png">Megumi</option>
                    <option value="/img/profile/Girl.png">Girl</option>
                    <option value="/img/profile/Yagami.png">Yagami light</option>
                    <option value="/img/profile/Bear.png">Bear</option>
                    <option value="/img/profile/Cat.png">Cat</option>
                </select>
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-12">
                <h6>Authentication Credentials</h6>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <input type="email" id="email" asp-for="@Model.Email" value="@Model.Email" required onblur="validate(3)" name="Email" class="form-control">
            </div>
            <label for="passwd" class="col-sm-2 col-form-label">Password<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <input type="text" id="passwd" asp-for="@Model.MotDePasse" value="@Model.MotDePasse" required onblur="validate(3)" name="MotDePasse" class="form-control">
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <label for="isAuth" class="col-sm-2 col-form-label">Authentication<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <select id="isAuth" asp-for="@Model.IsAuth" value="@Model.IsAuth" name="IsAuth" class="form-control">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
            </div>
            <label for="isAdmin" class="col-sm-2 col-form-label">Admin<span class="text-danger"> *</span></label>
            <div class="col-sm-4">
                <select id="isAdmin" asp-for="@Model.IsAdmin" value="@Model.IsAdmin" name="IsAdmin" class="form-control">
                    <option value="1">True</option>
                    <option value="0">False</option>
                </select>
            </div>
        </div>
        <div class="form-group mt-3 row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-outline-primary w-100">Submit</button>
            </div>
        </div>
    </div>
</form>
