@model Models.User.UserNewVM
@{
    ViewData["Title"] = "GYM APP";
    string index = ViewBag.Index ?? "";
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        color: #333;
        margin: 0;
    }

    .card {
        padding: 30px 40px;
        margin-top: 60px;
        margin-bottom: 60px;
        border: none !important;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        border-radius: 10px;
    }

    .blue-text {
        color: #00BCD4;
    }

    .form-control-label {
        margin-bottom: 0;
        font-weight: bold;
    }

    input, textarea, button, select {
        padding: 10px;
        border-radius: 5px !important;
        margin: 10px 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 16px !important;
    }

        input:focus, textarea:focus, select:focus {
            border: 1px solid #00BCD4;
            outline: none;
        }

    .btn-block {
        text-transform: uppercase;
        font-size: 15px !important;
        height: 43px;
        cursor: pointer;
        color: #fff;
        border: none;
    }

        .btn-block:hover {
            background-color: #0097A7;
        }

    button:focus {
        outline: none;
    }

    .carousel-inner img {
        height: 50vh;
        object-fit: cover;
    }

    h1 {
        color: #333;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .card {
        width: 18rem;
        margin-bottom: 20px;
    }
</style>
@if (index == "True")
{
    <div class=" text-center">
        <p class="text-success">Your data has been submited Wait for an admin to Approuve u ;)</p>
    </div>
}
@if (index == "False")
{
<div class=" text-center">
    <p class="text-danger">Error !!! or email already user</p>
</div>
}
<div class="row text-center justify-content-center m-auto  h-30">
    <div id="carouselExampleInterval" class="carousel slide  display-flex " data-bs-ride="carousel">
        <div class="carousel-inner  ">
            <div class="carousel-item active w-100 justify-content-center m-auto" data-bs-interval="10000">
                <img src="~/img/carossel1.png" style="height: 50vh;"  class="d-block w-100" alt="page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/img/carossel2.png" style="height: 50vh;" class="r-5 d-block w-100 " alt="page">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<div class="row d-md-block d-sm-none text-center m-5">
    <h1>Why us ?</h1>
    <div class="card-container d-flex justify-content-between mt-2">
        <div class="card " style="width: 18rem;">
            <img src="~/img/Dispo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Always Open</h5>
            </div>
        </div><div class="card" style="width: 18rem;">
            <img src="~/img/material.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Availability of materials</h5>
            </div>
        </div><div class="card" style="width: 18rem;">
            <img src="~/img/easy.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Easy Apply</h5>
            </div>
        </div><div class="card" style="width: 18rem;">
            <img src="~/img/coaching.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Good Coaching</h5>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid w-100 px-1 mx-auto">
    <div class="row d-flex w-100 justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="">
                <h5 class="text-center mb-4">do wanna be strongger</h5>
                <form class="form-card" asp-action="SignUp" asp-controller="User" method="post">
                    <div class="row justify-content-between text-left">
                        <div class="row justify-content-center w-100">
                            <img src="/img/profile/default.png" id="imgProfile" style="height: 130px; width :150px; ; border-radius:100%" />
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">First name<span class="text-danger"> *</span></label>
                            <input type="text" id="fname" asp-for="@Model.Nom" placeholder="Enter your first name" required onblur="validate(1)">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Last name<span class="text-danger"> *</span></label>
                            <input type="text" id="lname" asp-for="@Model.Prenom" placeholder="Enter your last name" required onblur="validate(2)">
                        </div>
                    </div>
                    <hr />
                    <div class="row justify-content-between text-left">
                        <h6>Your Authentification keys</h6>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">email<span class="text-danger"> *</span></label>
                            <input type="email" id="email" asp-for="@Model.Email" placeholder="Your email" required onblur="validate(3)">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex">
                            <label class="form-control-label px-3">Password<span class="text-danger"> *</span></label>
                            <input type="password" id="passwd" asp-for="@Model.MotDePasse" placeholder="Your passwd" required onblur="validate(3)">
                        </div>
                        <hr />
                    </div>
                        <div class="form-group col-sm-12 flex-column d-flex">
                            <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label>
                        <input type="text" id="mob" asp-for="@Model.Tel" placeholder="Your phone number" required onblur="validate(4)">
                        </div>
                    <div class="form-group col-sm-12 flex-column d-flex">
                        <label class="form-control-label px-3">IMG<span class="text-danger"> *</span></label>
                        <select id="Img" asp-for="@Model.Img" required class="form-control">
                            <option value="/img/profile/default.png">Default</option>
                            <option value="/img/profile/Tom.png">Tom</option>
                            <option value="/img/profile/Megumi.png">Megumi</option>
                            <option value="/img/profile/Girl.png">Girl</option>
                            <option value="/img/profile/Yagami.png">Yagami light</option>
                            <option value="/img/profile/bear.png">Bear</option>
                            <option value="/img/profile/cat.png">Cat</option>
                        </select>
                    </div>
                   

                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex">
                            <label class="form-control-label px-3">Subscription:<span class="text-danger"> *</span></label>
                            <select id="Sub" asp-for="@Model.SubType" required class="form-control">
                                <option value="">Choose a Subscription</option>
                                <option value="Silver">Silver</option>
                                <option value="Gold">Gold</option>
                                <option value="Diamond">Diamond</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-12 flex-column d-flex">
                        <label  class="form-control-label px-3">Price:<span class="text-danger"> *</span></label>
                        <select asp-for="@Model.SubPrice" id="Price" required class="form-control">
                        </select>
                    </div>

                    <div class="row justify-content-end">
                        <div class="form-group text-center w-100">
                            <button type="submit" class="w-80 btn-block btn-primary">Request a demo</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let sub = document.getElementById("Sub");
        let price = document.getElementById("Price");

        sub.addEventListener("change", function () {
            if (sub.value === "Silver") {
                price.innerHTML = "<option value=''>Choose a Price</option><option value='Month'>200dh For a Month</option><option value='6Months'>1000dh For 6 Months</option><option value='Year'>20000dh For a Year</option>";
            } else if (sub.value === "Gold") {
                price.innerHTML = "<option value=''>Choose a Price</option><option value='Month'>300dh For a Month</option><option value='6Months'>1500dh For 6 Months</option><option value='Year'>30000dh For a Year</option>";
            } else if (sub.value === "Diamond") {
                price.innerHTML = "<option value=''>Choose a Price</option><option value='Month'>400dh For a Month</option><option value='6Months'>20000dh For 6 Months</option><option value='Year'>40000dh For a Year</option>";
            } else {
                price.innerHTML = "<option value=''>Choose a Subscription</option>";
            }
        });
    });
    document.addEventListener("DOMContentLoaded", function () {
        let imgSelect = document.getElementById("Img");
        let profileImg = document.getElementById("imgProfile");

        imgSelect.addEventListener("change", function () {
            let selectedImg = imgSelect.value;
            profileImg.src = selectedImg;
        });
    });
</script>